:root {
  --primary-color: #264653;
  --secondary: #f4a271;
  --background-white: #f1ecec;
  --text-gray: #333333;
  --accent-gray: #F8F8F8;
  --main-font-family: Lato, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: var(--main-font-family);
  background: linear-gradient(50deg, var(--secondary), var(--primary-color));
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#header,
.nav-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
}

.nav-links ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-links> ul > li > a {
  transition: color 0.3s ease-in;
}

.nav-links>ul> li >a:hover {
  color: var(--accent-gray);
}

#header {
  padding-bottom: 50px;
}

.nav-links {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  font-size: 1.2rem;
}

.nav-link-item {
  margin: 0 10px;
  color: var(--secondary);
  font-weight: normal;
  font-size: medium;
}

.logo {
  text-align: center;
  padding-top: 30px;
}

.logo a {
  font-size: 2.9rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color: var(--secondary);
  max-width: 80%;
  letter-spacing: 0.2em;
  overflow: hidden;
}

#description {
  background-color: var(--background-white);
  color: var(--text-gray);
  font-family: var(--main-font-family);
  font-weight: bold;
  padding: 20px 10px;
}

.desc-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.description-item {
  text-align: left;
  padding-left: 0;
  margin: 0 auto;
  max-width: 80%;
}

.desc-wrapper h1 {
  font-weight: bolder;
  font-size: 2.4rem;
  padding-bottom: 20px;
  text-align: center;
}

.desc-wrapper>p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--text-gray);
  text-align: center;
  max-width: 80%;
}

.desc-wrapper div ul {
  font-size: 1.8rem;
  text-align: center;
}

.desc-wrapper div,
.new-line {
  display: block;
  text-align: left;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  text-align: center;
}

.hero {
  position: relative;
  display: inline;
  background-color: var(--background-white);
}

.hero img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--accent-gray);
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

.video-psa {
  background-color: var(--background-white);
}

#video {
  width: 100%;
}

iframe {
  border: 0;
}

.video-psa .video-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

#package {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 40px 0;
  background-color: var(--primary-color);
}

.package-item {
  color: var(--accent-gray);
  background-color: var(--primary-color-dark);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  width: 50%;
  height: auto;
  border-radius: 30px;
  text-align: center;
  padding: 30px 20px;
  text-align: left;
}

.package-item>.package-name {
  font-size: 1.8rem;
}

.package-wrapper>.price {
  font-size: 2.1rem;
  color: var(--secondary);
  text-align: left;
}

.package-wrapper>* {
  padding: 15px;
}

.package-item>.package-wrapper>* {
  margin: 0 auto;
}

.package-item ul li {
  list-style: none;
  font-size: 1.2rem;
  padding: 5px 0;
}

.package-item ul li::before {
  content: "\2713";
  margin-right: 5px;
}

.act-btn {
  background-color: var(--secondary);
  color: var(--text-gray);
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.act-btn:hover {
  background-color: var(--accent-gray);
}

#news-update {
  background-color: var(--primary-color);
  height: 320px;
}

#news-update>.news-update-wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

.news-update-wrapper h1,
p {
  text-align: center;
  color: var(--accent-gray);
}

.news-update-wrapper h1 {
  font-size: 2.4rem;
}

.news-update-wrapper p {
  font-size: small;
  padding: 15px 0;
}

.news-update-wrapper input {
  display: block;
  text-align: left;
  margin: 0 auto;
  background-color: var(--accent-gray);
  padding: 5px;
  width: fit-content;
  color: var(--text-gray);
}

.news-update-wrapper #subscribe-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 10%;
  border: none;
  background-color: var(--secondary);
  transition: background-color 0.3s ease-out;
}

.news-update-wrapper #subscribe-button:hover {
  background-color: var(--accent-gray);
  cursor: pointer;
}

#footer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #000000;
  padding: 50px 0;
}

.footer-div h3 {
  color: var(--accent-gray);
  font-size: 1.2rem;
}

.footer-div ul>*,
.footer-div h3 {
  padding-bottom: 15px;
}

.footer-div>ul>li>a {
  color: var(--secondary);
  font-size: 1rem;
  transition: color 0.3s ease-in;
}

.footer-div>ul>li>a:hover {
  color: var(--accent-gray);
}

#copyright {
  color: var(--accent-gray);
}

#social-media {
  display: flex;
  gap: 30px;
}

#social-media a {
  align-content: center;
  font-size: 1.2rem;
  color: var(--accent-gray);
  transition: color 0.3s ease-in;
}

#social-media a:hover {
  color: var(--secondary);
}

/*write a media query 769-1279-laptops, larger tablets and small desktops*/
@media screen and (min-width: 769px) and (max-width: 1279px) {

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-link-item {
    font-size: 1.6rem;
    margin-right: 40px;
  }

  .logo a {
    font-size: 3.5rem;
    letter-spacing: 0.4em;
  }

  .desc-wrapper-item,
  .facts ul li {
    text-align: left;
  }

  .desc-wrapper h1 {
    font-size: 2.8rem;
  }

  .desc-wrapper>p {
    font-size: 1.4rem;
  }

  .facts ul {
    font-size: 2rem;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .package-item {
    width: 75%;
  }

  .hero .overlay {
    font-size: 2.8rem;
    letter-spacing: 0.4rem;
  }

  .video-psa .video-wrapper {
    width: 70%;
  }

  #footer {
    display: flex;
    flex-direction: row;
  }

  #footer .footer-div {
    margin: 0 auto;
  }
}

/*Write a media query for 1280+px*- larger desktops and monitors*/

@media screen and (min-width: 1280px) {

  .wrapper {
    max-width: 1280px;
  }

  .nav-link-item {
    font-size: 1.8rem;
    margin-right: 60px;
  }

  .logo a {
    font-size: 3.8rem;
    letter-spacing: 0.6em;
  }

  .desc-wrapper-item,
  .facts ul li {
    text-align: left;
  }

  .desc-wrapper h1 {
    font-size: 3rem;
  }

  .desc-wrapper>p {
    font-size: 1.6rem;
  }

  .facts ul {
    font-size: 2rem;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .hero .overlay {
    font-size: 3.2rem;
    letter-spacing: 0.6rem;
  }

  iframe {
    height: 450px;
  }

  #package {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }

  .package-item {
    flex: 1 1 300px;
    margin: 5px;
  }

  #footer {
    display: flex;
    flex-direction: row;
  }

  #footer .footer-div {
    margin: 0 auto;
  }
}
