:root {
    --primary-color: #264653; /* Deep teal */
    --secondary: #f4a271; /* Coral */
    --background-white: #ffffff;
    --text-gray: #333333; 
    --accent-gray: #f1e8e8; /* For borders and accents */
    --earthy-brown: #8d6e5f;
    --earthy-tan: #d7c4b6;
    --main-font-family: Lato, sans-serif;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: var(--main-font-family);
  }
  
  html {
    font-size: 62.5%;
  }
  
  .header {
    background-color: var(--primary-color);
    padding-bottom: 15px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 1.2rem;
  }
  
  .nav-link-item {
    margin: 0 15px;
    color: var(--secondary);
    text-decoration: none;
    font-weight: normal;
  }
  
  .logo {
    font-size: 2.8rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary);
    text-align: center;
    padding: 20px;
    letter-spacing: 0.2em;
    max-width: 100%;
  }
  
  .description {
    background-color: var(--earthy-brown);
    color: var(--accent-gray);
    font-family: var(--main-font-family);
    text-align: left;
    font-weight: bold;
  }
  
  .description-item {
    padding: 30px 0;
    border: 1px solid red;

  }
  
  .description h1 {
    font-weight: bolder;
    color: var(--accent-gray);
    font-size: 2.4rem;
    text-align: center;
  }

  .description p{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6 ;
  }
  
  .description div ul{
    font-size: 1.8rem;
  }
  
  .description div, .new-line{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.2rem 0;
  }

  .hero {
    position: relative;
    display: inline;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  .hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--accent-gray);
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
  }

.package{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--primary-color);
    align-items: center;
    padding: 30px 0;
    
}

.package-item{
    
    color: var(--accent-gray);
    background-color: var(--primary-color-dark);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    width: 50%;
    height: auto;
    border-radius: 30px;
    text-align: center;
    padding: 50px;
    text-align: left;


}

.package-item > .package-name {
  font-size: 1.8rem;
}

.package-wrapper > .price{
  font-size: 2.1rem;
  color: var(--secondary);
}

.package-wrapper > * {
  padding: 15px;
 
}

.package-item >  .package-wrapper > * {
 
 
  margin: 0 auto;
  

}

.package-item ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 5px 0;
    
    
}

.package-item ul li::before{
  content: "\2713";
  margin-right: 5px;

}

.get-started-act-btn {
  background-color: var(--secondary);
  color: var(--text-gray);
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  
}

.get-started-act-btn:hover{
  background-color: var(--earthy-tan);
}



 
  
  







