:root {
  --primary-color: #264653; 
  --secondary: #f4a271;
  --background-white: #f1ecec;
  --text-gray: #333333;
  --accent-gray: #F8F8F8; 
  --earthy-brown: #8d6e5f;
  --main-font-family: Lato, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: var(--main-font-family);
}

html {
  font-size: 62.5%;
}

#header, .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
}

.nav-links > ul > a{
  transition: color 0.3s ease-in;
}

.nav-links > ul > a:hover {
  color: var(--accent-gray);
}

#header {
  padding-bottom: 50px;
}

.nav-links {
  margin: 0 auto;
  display: flex;
  justify-items: center;
  padding: 15px;
  font-size: 1.2rem;
}

.nav-link-item {
  margin: 0 15px;
  color: var(--secondary);
  font-weight: normal;
  font-size: medium;
}

.logo  {
  text-align: center;
  padding-top: 30px;
}

.logo a{
  font-size: 2.9rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
 
  
  
  
  margin: 0 auto;
  color: var(--secondary);
 
   max-width: 80%;
   
   
letter-spacing: 0.2em;
overflow: hidden;

}

#description {
background-color: var(--background-white);
color: var(--text-gray);
  font-family: var(--main-font-family);
  text-align: left;
  font-weight: bold;
  padding: 20px 10px;
}

#description-item {
  padding: 30px 0;
}

#description h1 {
  font-weight: bolder;
  font-size: 2.4rem;
  text-align: center;
}

#description > p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--text-gray);
}

#description div ul {
  font-size: 1.8rem;
}

#description div,
.new-line {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  padding: 1.2rem 0;
}

.hero {
  position: relative;
  display: inline;
  background-color: var(--background-white);
}

.hero img {
  width: 100%;
  height: auto;
  margin: 0;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--accent-gray);
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

.video-psa .video-wrapper{
  width: 80%;
  margin: 30px auto;
}

#package {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px 0;
  background-color: var(--primary-color);
}

.package-item {
  color: var(--accent-gray);
  background-color: var(--primary-color-dark);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  width: 50%;
  height: auto;
  border-radius: 30px;
  text-align: center;
  padding: 30px 20px;
  text-align: left;
}

.package-item > .package-name {
  font-size: 1.8rem;
}

.package-wrapper > .price{
  font-size: 2.1rem;
  color: var(--secondary);
  text-align: left;
}

.package-wrapper > * {
  padding: 15px;
 
}

.package-item >  .package-wrapper > * {
  margin: 0 auto;
}

.package-item ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 5px 0;
    
    
}

.package-item ul li::before{
  content: "\2713";
  margin-right: 5px;

}

.act-btn {
  background-color: var(--secondary);
  color: var(--text-gray);
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  
}

.act-btn:hover{
  background-color: var(--accent-gray);
}

#news-update{
  background-color: var(--primary-color);
  height: auto;
  height: 350px;
}

#news-update > .news-update-wrapper{
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

.news-update-wrapper h1, p{
  text-align: center;
  color: var(--accent-gray);
}

.news-update-wrapper h1{
  font-size: 2.4rem;
}

.news-update-wrapper  p{
  font-size: small;
  padding: 15px 0;
}

.news-update-wrapper input{
  display: block;
  text-align: left;
  margin: 0 auto;
  background-color: var(--accent-gray);
  padding: 5px;
  width: fit-content;
}
 
.news-update-wrapper #subscribe-button{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 10%;
  border: none;
  background-color: var(--secondary);
  transition: background-color 0.3s ease-out;
}

.news-update-wrapper #subscribe-button:hover{
  background-color: var(--accent-gray);
  cursor: pointer;
}

#footer{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #000000;
  padding-top:50px;
  padding-bottom: 50px;
}

.footer-div h3{
  color: var(--accent-gray);
  font-size: 1.2rem;
  
}

.footer-div ul > *, .footer-div h3{
  padding-bottom: 15px;
}

.footer-div > ul> li > a {
  color: var(--secondary);
  font-size: 1rem;
  transition: color 0.3s ease-in;
}

.footer-div > ul> li > a:hover{
  color: var(--accent-gray);
}

#copyright{
  color: var(--accent-gray);
}

#social-media{
  display: flex;
  gap: 30px;
}

#social-media a{
  align-content: center;
  font-size: 1.2rem;
  color: var(--accent-gray);
  transition: color 0.3s ease-in;
}

#social-media a:hover{
  color: var(--secondary);
}

/*Write a media query at 768px- Tablets & larger smartphones*/
/*write a media query 769-1279-laptops, larger tablets and small desktops*/
/*Write a media query for 1280+px*- larger desktops and monitors/


  







